<header>
  <p>Simple Tambola</p>

  <button class="btn-history" (click)="viewHistory()">View history</button>
</header>
<main class="container">
  <section class="generate-number">
    <button
      class="btn-generate"
      (click)="generateRandomNumber()"
      *ngIf="generatedNumberList.length < 90"
    >
      Generate number
    </button>

    <p *ngIf="generatedNumberList.length === 90" class="error-message">
      Reset board to continue playing
    </p>

    <div class="generated-text">
      {{ generatedNumber }}
    </div>

    <button class="btn-reset" (click)="resetBoard()">Reset board</button>
  </section>
  <section class="number-list">
    <ng-container *ngFor="let number of numberList">
      <div
        class="number-item"
        [ngClass]="number?.isChecked ? 'checked-number' : ''"
      >
        {{ number?.label }}
      </div>
      <br *ngIf="number?.label % 10 === 0" />
    </ng-container>
  </section>
</main>

<footer></footer>

<app-view-history
  *ngIf="showHistory"
  [showHistory]="showHistory"
  (closeModal)="onCloseModal($event)"
></app-view-history>
